.heading {
  margin: 0;
}

.h1 {
  font: var(--font-heading-1);
}

.h2 {
  font: var(--font-heading-2);
}

.h3 {
  font: var(--font-heading-3);
}

.h4 {
  font: var(--font-heading-4);
}

.h5 {
  font: var(--font-heading-5);
}
