@use "../../styles/breakpoints" as bp;

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;

  @include bp.tablet-down {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include bp.mobile-down {
    grid-template-columns: 1fr;
  }
}
