.list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;

  > *:not(:nth-child(1)):before {
    content: "|";
    margin-right: 1rem;
    color: var(--color-text-faded);
  }
}
