:root {
    color-scheme: light dark;

    // Color tokens (light/dark variants)
    --semantic-color-text-light: #{$primitive-color-grey-900};
    --semantic-color-text-dark: #{$primitive-color-grey-0};
    --semantic-color-text-muted-light: #{$primitive-color-grey-400};
    --semantic-color-text-muted-dark: #{$primitive-color-grey-500};
    --semantic-color-text-faded-light: #{$primitive-color-grey-200};
    --semantic-color-text-faded-dark: #{$primitive-color-grey-700};


    --semantic-color-background-light: #{$primitive-color-grey-0};
    --semantic-color-background-dark: #{$primitive-color-grey-900};
    --semantic-color-background-muted-light: #{$primitive-color-grey-100};
    --semantic-color-background-muted-dark: #{$primitive-color-grey-800};

    --semantic-color-primary-light: #{$primitive-color-primary-500};
    --semantic-color-primary-dark: #{$primitive-color-primary-400};

    // Font tokens
    --semantic-font-family-default: #{$primitive-font-family-normal};
    --semantic-font-family-mono: #{$primitive-font-family-mono};
    --semantic-font-weight-default: #{$primitive-font-weight-normal};
    --semantic-font-weight-bold: #{$primitive-font-weight-bold};
    --semantic-font-size-default: 1rem;
    --semantic-line-height-default: 1.5;
    --semantic-font-default: var(--semantic-font-weight-default) var(--semantic-font-size-default) / var(--semantic-line-height-default) var(--semantic-font-family-default);
    --semantic-font-mono: var(--semantic-font-weight-default) var(--semantic-font-size-default) / var(--semantic-line-height-default) var(--semantic-font-family-mono);

    // Spacing tokens
    --semantic-spacing-page: 5rem;

    --page-spacing: 5rem;
    @media (max-width: 720px) {
        --page-spacing: 2rem;
    }
}

body:has([data-darkmode]:checked) {
    color-scheme: dark;
}

body:has([data-darkmode]:not(:checked)) {
    color-scheme: light;
}