@use "../../styles/functions" as fn;

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index:1;
}

.inner {
  --padding: calc(var(--semantic-spacing-page) / 2);
  padding: 1rem max(var(--padding), 2rem);
  background-color: fn.get-variant(--semantic-color-background, "inverted");
  color: fn.get-variant(--semantic-color-text, "inverted");
  margin-block: 1rem;
  border-radius: 100px;
  margin-inline: calc(-1 * var(--padding));
}
