.header {
    width:100%;
    position: sticky;
    top:0;
}

.inner {
    padding: 1rem 2rem;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin-block:1rem;
    border-radius:100px;
    margin-inline: -2rem;
}